.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #651f04;
  border: 1px solid #7e2e0f;
  color: rgb(250, 245, 245);
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #4b200e;
  border-color: #411808;
}
