.input {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.input label {
  font-weight: bold;
  margin-right: 0.5rem;
}

.input input {
  width: 3rem;
  border-radius: 10px;
  border: 2px solid rgb(177, 172, 172);
  font: inherit;
  padding-left: 1rem;
}
